.question{
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  & + .question{
    margin-top: 8px;
  }

  &.highlighted{
    background: #f4f0ff;
    border: 1px solid orangered;

    footer .user-info span{
      color: #29292e;
    }
  }

  &.answered{
    background: #9f9fae;
    color: black;
  }

  p{
    color: #29292e;
  }

  footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info{
      display: flex;
      align-items: center;
      justify-content: center;
      > img{
        border-radius: 50%;
        max-height: 32px;
      }
      > span{
        margin-left: 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        color: #737380;
      }
    }

    > div {
      display: flex;
      gap: 16px;
    }

    button{
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;

      &.like-button{
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: 8px;


        &.liked{
          color: firebrick;

          svg path{
            stroke: orangered;
          }
        }
      }

      &:hover {
        filter: brightness(0.7);
      }

    }
  }

}